.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.apartments {
  width: 560px;
  .apartment {
    padding: 29px 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .apartmentImg {
      width: 208px;
      height: 202px;
      border-radius: 10px;
    }

    .apartmentDetails {
      width: 100%;
      padding: 23px;
    }
  }
}
