.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 77px;
}

.form {
  // background-color: --var()
  display: flex;
  align-items: center;
  background-color: #f4f7ff;
  border-radius: 10px;
  position: relative;

  .icone {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #2b67f6;
    cursor: pointer;
    &:hover {
      filter: brightness(0.9);
    }
  }
}

.input {
  width: 464px;
  background-color: #f4f7ff;
  border: none;
  border-radius: 10px;
  padding: 21px 29px;
  color: #2b67f6;
  font-size: 16px;
  line-height: 19px;
  &::placeholder {
    font-weight: bold;
    color: #333333;
  }
  &:focus {
    outline: #f4f7ff;
  }
  &:focus-within {
    border-bottom-width: 2px;
    border-bottom-color: #2b67f6;
  }
}

.headerList {
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    // border-right-width: 2px;
    // border-right-style: solid;
    // height: 100%;

    li {
      margin: 0 20px;
      color: #a5a7a7;
      width: 30px;
      height: 30px;
      &:hover {
        color: #2b67f6;
      }
    }
  }

  .line {
    width: 0.97px;
    height: 54.57px;
    color: #a5a7a7;
    background: #a5a7a7;
    border-radius: 8px;
    display: inline-block;
    padding: 1px;
  }

  .user {
    display: flex;
    align-items: center;
    margin-left: 20px;

    .boxAvatar {
      margin-right: 10px;
      .avatar {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .description {
      .name {
        font-size: 16px;
        font-weight: 500;
        font-family: Roboto, sans-serif;
      }
      .type {
        font-size: 12px;
        font-family: Roboto, sans-serif;
        color: #2b67f6;
      }
    }
  }

  .language {
    margin-left: 30px;
    width: 86.73px;
    height: 54.57px;

    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 54px;

    appearance: none;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #2e2e2e;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
